




@using ZCLINIC
@model ZCLINIC.Areas.Master.Models.MasterAccount

@{
    string URL = Model == null ? "/Master/MasterAccount/SaveMasterAccount" : "/Master/MasterAccount/UpdateMasterAccount";
}

<form class="form-horizontal" method="post" id="" data-url="@URL" data-display="Master" data-rurl="/Master/MasterAccount">

    @Html.HiddenFor(m => m.Com_id)

    <div class="row">

        <div class="form-group form-group-xs">
            <label class="control-label col-sm-4">Master Code <b class="wysiwyg-color-red">*</b></label>
            <div class="form-group has-feedback col-sm-8">
                @Html.TextBoxFor(m => m.Master_Code, new { @class = "form-control input-group", placeholder = "Enter Account Code", type = "number", required = "required" })
                <div class="form-control-feedback"><i class=""></i></div>
            </div>
        </div>

        <div class="form-group form-group-xs">
            <label class="control-label col-sm-4">Account Name <b class="wysiwyg-color-red">*</b></label>
            <div class="form-group has-feedback col-sm-8">
                @Html.TextBoxFor(m => m.Master_Name, new { @class = "form-control input-group", placeholder = "Enter Account Name", type = "text", required = "required" })
                <div class="form-control-feedback"><i class=""></i></div>
            </div>
        </div>

        <div class="form-group form-group-xs">
            <label class="control-label col-sm-4">Master Account<b class="wysiwyg-color-red">*</b></label>
            <div class="form-group has-feedback col-sm-8">
                @{
                    List<ZCLINIC.Areas.Master.Models.MasterHeadAcc> cities = new ZCLINIC.Areas.Master.Models.MasterHeadAcc().Master_HeadAccGetAll(Context.Session.GetBValues(), Context.GetIP(), Context.GetCInfo());

                }
                @Html.DropDownList("Mid", cities.Select(s => new SelectListItem() { Text = s.Acc_Name, Value = s.Mid.ToString() }), new { @class = "form-control " })
                <div class="form-control-feedback"><i class=""></i></div>
            </div>

        </div>


        <div class="modal-footer no-padding no-border">
            <button type="button" class="btn btn-danger btn-xs" data-dismiss="modal"><i class="icon-cross"></i>Close</button>
            <button type="button" data-submit="true" class="btn btn-primary btn-xs"><i class="icon-floppy-disk position-left"></i>Save</button>
        </div>

    </div>

</form>
