@using ZCLINIC
@model ZCLINIC.Areas.Transaction.Models.ReportMaster

@{
    string URL = Model == null ? "/Transaction/ReportMaster/SaveReportMaster" : "/Transaction/ReportMaster/UpdateReportMaster";
    int counter = 0;
}

<style>
    /*Remove Arrows/Spinners from type number*/
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }
</style>

<form method="post" data-url="@URL" data-rurl="/Transaction/ReportMaster" data-script="/assets/Areas/Transaction/ReceiptMaster/Index.js" data-display="ReceiptMaster">





    @Html.HiddenFor(m => m.ReportId)
    @Html.HiddenFor(m => m.MrId)
    @Html.HiddenFor(m => m.ReceiptId)


    <div class="row">



        <div class="form-group form-group-xs col-md-12">

            <div class="form-group form-group-xs col-md-2">
                <label>Report No<b class="wysiwyg-color-red"></b></label>
                @Html.TextBoxFor(m => m.ReportNo, new { @class = "form-control", type = "text", @readonly = "readonly" })

            </div>

            <div class="form-group form-group-xs col-md-2">
                <label>Receipt No<b class="wysiwyg-color-red"></b></label>
                @Html.TextBoxFor(m => m.ReceiptNo, new { @class = "form-control", type = "text" })

            </div>


            <div class="form-group form-group-xs col-md-2">
                <label>Mr No<b class="wysiwyg-color-red"></b></label>
                @Html.TextBoxFor(m => m.Mrno, new { @class = "form-control", type = "text", @readonly = "readonly" })

            </div>

            <div class="form-group form-group-xs col-md-6">
                <label>Patient Name<b class="wysiwyg-color-red"></b></label>
                @Html.TextBoxFor(m => m.PName, new { @class = "form-control", type = "text", @readonly = "readonly" })

            </div>










        </div>
    </div>

    <div class="row">



        <div class="form-group form-group-xs col-md-12">

            <div class="form-group form-group-xs col-md-2">
                <label>Age<b class="wysiwyg-color-red"></b></label>
                @Html.TextBoxFor(m => m.Age, new { @class = "form-control", type = "text", @readonly = "readonly" })

            </div>


            <div class="form-group form-group-xs col-md-3">
                <label>CollectDate<b class="wysiwyg-color-red"></b></label>
                @Html.TextBoxFor(m => m.CollectedDate, new { @class = "form-control", type = "date" })

            </div>

            <div class="form-group form-group-xs col-md-3">
                <label>Received Date<b class="wysiwyg-color-red"></b></label>
                @Html.TextBoxFor(m => m.RecDate, new { @class = "form-control", type = "date" })

            </div>


            <div class="form-group form-group-xs col-md-3">
                <label>ReportDate<b class="wysiwyg-color-red"></b></label>
                @Html.TextBoxFor(m => m.ReportDate, new { @class = "form-control", type = "date" })

            </div>










        </div>
    </div>









    <div class="row">



        <div class="form-group form-group-xs col-md-12">


            <div class="form-group form-group-xs col-md-2">
                <label>Deparment Name<b class="wysiwyg-color-red"></b></label>
                @{
                    List<ZCLINIC.Areas.Master.Models.LabDeparment> LabDeparment = new ZCLINIC.Areas.Master.Models.LabDeparment().Master_LabDeparmentGetAll(Context.Session.GetBValues(), Context.GetIP(), Context.GetCInfo());
                    LabDeparment.Insert(0, new ZCLINIC.Areas.Master.Models.LabDeparment { DepId = 0, DepName = "Select Deparment Name" });
                }
                @Html.DropDownList("DepId", LabDeparment.Select(s => new SelectListItem() { Text = s.DepName, Value = s.DepId.ToString() }), new { @class = "form-control " })

            </div>


            <div class="form-group form-group-xs col-md-2">
                <label>Test Name<b class="wysiwyg-color-red"></b></label>
                <select class="form-control   combo-box" id="testId" type=2 name="ModelId"></select>

            </div>


            <div class="form-group form-group-xs col-md-2">
                <label>Remarks<b class="wysiwyg-color-red"></b></label>
                @Html.TextBoxFor(m => m.Remarks, new { @class = "form-control", type = "text" })

            </div>

            <div class="form-group form-group-xs col-md-4">
                <label>Report Format<b class="wysiwyg-color-red"></b></label>
                @{

                    var Status = new List<(int Id, string Name)>();

                    Status.Add((Id: 1, Name: "Refference Ranges"));
                    Status.Add((Id: 2, Name: "Cut Off Value"));
                    Status.Add((Id: 3, Name: "Result"));




                }
                @Html.DropDownList("FID", Status.Select(p => new SelectListItem() { Text = p.Name, Value = p.Id.ToString() }), new { @class = "form-control", data_style = "btn-default btn-xs", tabindex = '4', data_search = "true", data_width = "100%" })

            </div>








            <div class="form-group form-group-xs mt-20 col-md-1">
                <a class="btn btn-info btn-sm" id="AddItemBtn" data-script="#"><i class="icon-add mr-5"></i>Add</a>
            </div>




        </div>
    </div>






    <div class="table-responsive container-fluid quotaiontable">
        <table class=" table table-xxs table-md table-bordered table-striped table-hover bg-lightgray dataTables_scrollBody">
            <thead>
                <tr class="bg-blue-800">

                    <th>Services Name</th>
                    <th>Dis.</th>
                    <th>Result</th>
                    <th>Units</th>
                    <th>Reference Ranges</th>











                    <th></th>


                </tr>


            </thead>


            <tbody id="tbodytable">
          
            
            
            
            
            
            
            
            
            
            
            
            
            </tbody>






















        </table>




    </div>















    <div class="modal-footer mt-10 no-padding no-border">



        <a data-url="/Transaction/ReportMaster" data-script="#" class="btn btn-danger btn-xs  closeBtn" data-dismiss="modal"><i class="icon-cross"></i>Close</a>




        <button type="button" data-submit="" class="btn btn-primary  btn-xs  SaveBtn"><i class="icon-floppy-disk position-left"></i>Save</button>
        @* <button type="button" data-submit="" class="btn btn-primary btn-xs SaveBtn"><i class="icon-floppy-disk position-left"></i>Save</button>*@

    </div>

</form>

