@using ZCLINIC
@model ZCLINIC.Areas.Transaction.Models.Appointment

@{
    string URL = Model == null ? "/Transaction/FeeVoucher/SaveFeeVoucher" : "/Transaction/FeeVoucher/UpdateFeeVoucher";
    int counter = 0;
}

<style>
    /*Remove Arrows/Spinners from type number*/
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }
</style>

<form method="post" data-url="@URL" data-rurl="/Transaction/CustomerFeeVoucher" data-display="FeeVoucher">



    @Html.HiddenFor(m => m.AppomentId)
    <div class="row">



        <div class="form-group form-group-xs col-md-12">

            <div class="form-group form-group-xs col-md-2">
                <label>Appoment Id<b class="wysiwyg-color-red"></b></label>
                @Html.TextBoxFor(m => m.AppomentCode, new { @class = "form-control", type = "text", @readonly = "readonly" })

            </div>

            <div class="form-group form-group-xs col-md-2">
                <label>Appoment Date<b class="wysiwyg-color-red"></b></label>
                @Html.TextBoxFor(m => m.AppomentDate, new { @class = "form-control", type = "date" })

            </div>


            <div class="form-group form-group-xs col-md-4">
                <label>Doctor Name<b class="wysiwyg-color-red"></b></label>
                @{
                    List<ZCLINIC.Areas.Master.Models.Doctor> Doctor = new ZCLINIC.Areas.Master.Models.Doctor().Master_DoctorGetAll(Context.Session.GetBValues(), Context.GetIP(), Context.GetCInfo());

                }
                @Html.DropDownList("MonthId", Doctor.Select(s => new SelectListItem() { Text = s.DoctorName, Value = s.DocId.ToString() }), new { @class = "form-control " })

            </div>

            <div class="form-group form-group-xs mt-20 col-lg-2">
                <a class="btn btn-info btn-sm" data-modalhorizontal="true" data-modalsize="modal-lg" data-smodal="true" data-url="/Master/PatientReg/APatientReg" data-heading="Patient Registration" data-script="#"><i class="icon-add mr-5"></i>Patient Registration</a>
            </div>


           

        </div>
    </div>


    <div class="row">



        <div class="form-group form-group-xs col-md-12">


            <div class="form-group form-group-xs col-md-1">
                <label>MrId<b class="wysiwyg-color-red"></b></label>
                <input type="text"  readonly class="form-control" id="MrId" />

            </div>




            <div class="form-group form-group-xs col-md-1">
                <label>MrNo.<b class="wysiwyg-color-red"></b></label>
                <input type="text" readonly  class="form-control" id="MrNo" />

            </div>

            <div class="form-group form-group-xs col-md-4">
                <label>Name<b class="wysiwyg-color-red"></b></label>
                <input type="text"  class="form-control" id="Name" />

            </div>














            <div class="form-group form-group-xs mt-20 col-md-1">
                <a class="btn btn-info btn-sm" id="AddItemBtn" data-script="#"><i class="icon-add mr-5"></i>Add</a>
            </div>

        </div>
    </div>























    <div class="modal-footer mt-10 no-padding no-border">




        <a data-url="/Transaction/CustomerFeeVoucher" data-script="#" class="btn btn-danger btn-xs  closeBtn" data-dismiss="modal"><i class="icon-cross"></i>Close</a>




        <button type="button" data-submit="" class="btn btn-primary  btn-xs  SaveBtn"><i class="icon-floppy-disk position-left"></i>Save</button>
        @* <button type="button" data-submit="" class="btn btn-primary btn-xs SaveBtn"><i class="icon-floppy-disk position-left"></i>Save</button>*@

    </div>

</form>
