@using ZCLINIC
@model ZCLINIC.Areas.Transaction.Models.Transaction_VoucherMaster






@{
    string URL = Model == null ? "/Transaction/Transaction_BankReceiptVoucher/SaveTransaction_BankReceiptVoucher" : "/Transaction/Transaction_BankReceiptVoucher/UpdateTransaction_BankReceiptVoucher";
    int counter = 0;
}

<style>
    /*Remove Arrows/Spinners from type number*/
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }
</style>

<form method="post" data-url="@URL" data-rurl="/Transaction/Transaction_BankReceiptVoucher" data-display="Bank Receipt Voucher">



    @Html.HiddenFor(m => m.REF_ID)
    <div class="row">



        <div class="form-group form-group-xs col-md-12">

            <div class="form-group form-group-xs col-md-2">
                <label>Voucher No<b class="wysiwyg-color-red"></b></label>
                @Html.TextBoxFor(m => m.VOUCHER_NO, new { @class = "form-control", type = "text", @readonly = "readonly" })

            </div>

            <div class="form-group form-group-xs col-md-2">
                <label>Voucher Date<b class="wysiwyg-color-red"></b></label>
                @Html.TextBoxFor(m => m.VOUCHAR_DATE, new { @class = "form-control", type = "date" })

            </div>

            @*<div class="form-group form-group-xs col-md-4">
                    <label>Bank Name<b class="wysiwyg-color-red"></b></label>

                    @{
                        List<ZCLINIC.Areas.Master.Models.Master_SubAccount> SubAcct = new ZCLINIC.Areas.Master.Models.Master_SubAccount().Master_SubAccountGetbankAll(Context.Session.GetBValues(), Context.GetIP(), Context.GetCInfo());

                    }
                    @Html.DropDownList("Master_ID", SubAcct.Select(s => new SelectListItem() { Text = s.Subacc_Name, Value = s.Sub_accountCode.ToString() }), new { @class = "form-control " })
                    <div class="form-control-feedback"><i class=""></i></div>

                </div>*@



            @*<div class="form-group form-group-xs col-md-4">
                <label>Cheque Pay<b class="wysiwyg-color-red"></b></label>
                @Html.TextBoxFor(m => m.Che_pay, new { @class = "form-control", type = "text" })

            </div>*@


            <div class="form-group form-group-xs col-md-4">
                <label>Cheque No<b class="wysiwyg-color-red"></b></label>
                @Html.TextBoxFor(m => m.CHQ, new { @class = "form-control", type = "number" })

            </div>




        </div>
    </div>



    <div class="row">

        <div class="form-group form-group-xs col-md-12">



            <div class="form-group form-group-xs col-md-5">
                <label>Nurration<b class="wysiwyg-color-red"></b></label>
                @Html.TextAreaFor(m => m.Nurration, new { @class = "form-control", style = "width: 350px; height: 69px; resize: none", type = "text" })

            </div>



            @Html.TextBoxFor(m => m.VOUCHER_MODE, new { @class = "form-control", type = "hidden", @readonly = "readonly" })





            <div class="form-group form-group-xs col-md-3">
                <label>UserName<b class="wysiwyg-color-red"></b></label>
                @Html.TextBoxFor(m => m.User_name, new { @class = "form-control", type = "text", @readonly = "readonly" })

            </div>


            <div class="form-group form-group-xs col-md-3">
                <label>Voucher Time<b class="wysiwyg-color-red"></b></label>
                @Html.TextBoxFor(m => m.Voucher_time, new { @class = "form-control", type = "text", @readonly = "readonly" })

            </div>






        </div>
















    </div>







    <div style="display:none;">


        @*@{
                List<SMCHSL.Areas.Master.Models.Master_SubAccount> SubAccount_ChartOfAccount = new SMCHSL.Areas.Master.Models..Master_SubAccountGetAll(Context.Session.GetBValues(), Context.GetIP(), Context.GetCInfo());

            }*@





        @{
            List<ZCLINIC.Areas.Master.Models.Master_SubAccount> Master_SubAccount = new ZCLINIC.Areas.Master.Models.Master_SubAccount().Master_SubAccountGetAll(Context.Session.GetBValues(), Context.GetIP(), Context.GetCInfo());
          //  Master_SubAccount.Insert(0, new ZCLINIC.Areas.Master.Models.Master_SubAccount { Sub_accountCode = "0", Subacc_Name = "Select Account Name" });
        }








    </div>

    <div class="clearfix"></div>


    <div class="panel-body form-group panel panel-flat mt-5" style="height:322px; width:100%; overflow-y:auto;" id="table-div">


        <div class="table-responsive container-fluid quotaiontable">
            <table class=" table table-xxs table-md table-bordered table-striped table-hover bg-lightgray dataTables_scrollBody">
                <thead>
                    <tr class="bg-blue-800">

                        <th>Account Name</th>
                        <th>Remarks</th>
                        <th>Debit</th>
                        <th>Credit</th>


                        <th></th>


                    </tr>
                    <tr>





                        <th class="col-md-5">
                            @Html.DropDownList("SUB_CODE", Master_SubAccount.Select(p => new SelectListItem() { Text = p.Subacc_Name.ToString(), Value = p.Sub_accountCode.ToString() }), new { @class = "bootstrap-select vatratecal", data_live_search = "true", data_width = "100%" })

                        </th>
                        <th class="col-md-3"><input type="text" class="form-control Remarksfield TxtBox" , id="Remarks" /></th>
                        <th class="col-md-2"><input type="text" class="form-control Debitfield TxtBox" id="DebitAmt" /></th>
                        <th class="col-md-2"><input type="text" class="form-control Creditfield TxtBox" id="CreditAmt" /></th>

                        <th class="col-lg-1"><a class="icon-add text-primary" id="AddItemBtn"></a></th>
                    </tr>


                </thead>


                <tbody class="BankVoucherDetails">
                    @if (Model != null)
                    {
                        foreach (var item in Model.VoucherDetails)
                        {
                            counter++;


                    <tr>




                        <td>

                            @Html.DropDownListFor(m => m.VoucherDetails[counter - 1].SUB_CODE, Master_SubAccount.Select(p => new SelectListItem() { Text = p.Subacc_Name.ToString(), Value = p.Sub_accountCode.ToString() }), new { @class = "bootstrap-select vatratecal", data_live_search = "true", data_width = "100%" })
                        </td>


                        <td><input type="text" class="form-control Remarksfield" value="@item.Remarks"></td>

                        <td><input type="text" class="form-control Debitfield" value="@item.DEBIT"></td>
                        <td><input type="text" class="form-control Creditfield" value="@item.CREDIT"></td>


                        <td><a id=""><i class="icon-trash removeitem text-danger-600"></i></a></td>
                    </tr>
                        }
                    }

                </tbody>










                <tfoot>
                    <tr>

                        <td colspan="1"></td>
                        <td class="text-right">Total Amount</td>
                        <td>@Html.TextBoxFor(m => m.TDebitAmt, new { @class = "form-control", type = "number", @readonly = "readonly" })</td>



                        <td>@Html.TextBoxFor(m => m.TCreditAmt, new { @class = "form-control", type = "number", @readonly = "readonly" })</td>



                    </tr>

                </tfoot>
















            </table>




        </div>


    </div>

















    <div class="modal-footer mt-10 no-padding no-border">



        <button type="button" class="btn btn-danger btn-xs" data-dismiss="modal"><i class="icon-cross"></i>Close</button>
        <button type="button" data-submit="" class="btn btn-primary  btn-xs  SaveBtn"><i class="icon-floppy-disk position-left"></i>Save</button>
        @* <button type="button" data-submit="" class="btn btn-primary btn-xs SaveBtn"><i class="icon-floppy-disk position-left"></i>Save</button>*@

    </div>

</form>
<script>


    $('#VOUCHER_MODE').val('BRV')
</script>