

@using ZCLINIC
@model ZCLINIC.Areas.Master.Models.PanelRate

@{
    string URL = Model == null ? "/Master/PanelRate/SavePanelRate" : "/Master/PanelRate/UpdatePanelRate";

    List<ZCLINIC.Areas.Master.Models.ClinicServices> ClinicServices = new ZCLINIC.Areas.Master.Models.ClinicServices().Master_ClinicServicesGetAll(Context.Session.GetBValues(), Context.GetIP(), Context.GetCInfo());


}

<form class="form-horizontal" method="post" id="" data-url="@URL" data-display="Master" data-rurl="/Master/Master_Deparment">

    @Html.HiddenFor(m => m.Id)

    <div class="row">

        <div class="form-group form-group-xs">
            <label class="control-label col-sm-4">Panel Id<b class="wysiwyg-color-red">*</b></label>
            <div class="form-group has-feedback col-sm-4">
                @Html.TextBoxFor(m => m.PanelId, new { @class = "form-control input-group", type = "text", @readonly = "readonly" })
                <div class="form-control-feedback"><i class=""></i></div>
            </div>
        </div>

        <div class="form-group form-group-xs">
            <label class="control-label col-sm-4">Panel Name <b class="wysiwyg-color-red">*</b></label>
            <div class="form-group has-feedback col-sm-8">
                @Html.TextBoxFor(m => m.PanelName, new { @class = "form-control input-group", placeholder = "Panel Name", type = "text", required = "required", @readonly = "readonly" })
                <div class="form-control-feedback"><i class=""></i></div>
            </div>
        </div>


        @*@{
                List<SMSERP.Areas.Master.Models.Master_UnitRegistration> Master_UnitRegistration = new SMSERP.Areas.Master.Models.Master_UnitRegistration().Master_UnitRegistrationGetAll(Context.Session.GetBValues(), Context.GetIP(), Context.GetCInfo());
                Master_UnitRegistration.Insert(0, new SMSERP.Areas.Master.Models.Master_UnitRegistration { UnitId = 0, UnitName = "Select Unit  Name" });
            }*@





        <div class="table-responsive container-fluid quotaiontable">
            <table class="table table-xxs table-md table-bordered table-striped table-hover bg-lightgray dataTables_scrollBody">




                <thead>
                    <tr class="bg-blue-800">

                        <th class="col-lg-3">Services  Name</th>
                        <th class="col-lg-1">Rate</th>
                        

                        <th class="col-lg-1">Actions</th>



                    </tr>

                    <tr>
                        <th class="col-lg-4">
                            <select id="ServicesId" class="form-control bootstrap-select" data-style="btn-default btn-xs" data-search="true" data-width="100%">
                                <option value="0">--Select Product--</option>
                                @foreach (var item in ClinicServices)
                                {
                                    <option value="@item.ServicesId">@item.ServicesName</option>
                                }
                            </select>

                        </th>





                        

                        <th><input class="form-control" id="Rate" type="number" /></th>


                        


                        













                        <td>

                            <a id="btn_add" class="text-primary-600"><i class="icon-add"></i></a>

                        </td>

                    </tr>


                </thead>


                <tbody id="tbodytable">
                </tbody>










                @*<tfoot>
                    <tr>

                        <td colspan="3"></td>
                        <td class="text-right">Total Amount</td>

                        <td>@Html.TextBoxFor(m => m.TAmt, new { @class = "form-control", type = "number", @readonly = "readonly" })</td>



                    </tr>

                </tfoot>*@
















            </table>




        </div>
















        @*<div class="modal-footer no-padding no-border">
                <button type="button" class="btn btn-danger btn-xs" data-dismiss="modal"><i class="icon-cross"></i>Close</button>
                <button type="button" data-submit="true" class="btn btn-primary btn-xs"><i class="icon-floppy-disk position-left"></i>Save</button>
            </div>*@

    </div>

</form>
<script>



    var classId = $('#classId').val();
    productDetail(classId);




    $('#btn_add').on('click', function () {

        var ServicesId = $('#ServicesId').val();
        var Rate = $('#Rate').val();
       

        //var Session_ID = $('#Session_ID').val();


        var check = false;






        if (ServicesId == 0 || ServicesId == null) {
            ErrorAlert("Enter Service  Name");
            check = true;
        }

        if (Rate == null || Rate == 0) {
            ErrorAlert("Enter Rate");
            check = true;
        }

   


        if (!check) {


            // GetSchoolFee(Supcode, MonthID, Session_ID);












            var model = []



            model = {
                PanelId: $('#PanelId').val(),
                Id: "0",
                Code: "0",

                serId: parseInt($('#ServicesId option:selected').val()),
                Rate: $('#Rate').val(),
               









            }








            console.log(model);
            ///console.log(PurchaseDetail);













            debugger;
            GetJSONRequest('/Master/PanelRate/SavePanelRate', 'POST', { model }, function (data) {
                SuccessAlert("Data Saved");
                //var classId = $('#classId').val();
                //productDetail(classId);


                $('#ServicesId').val('');
             
                $('#Rate').val('');
             
              



            });


        }













    });



    function productDetail(id) {



        GetJSONRequest('/Master/LevelDetails/GetProductList', 'GET', { id }, data => {


            debugger;
            let i = 0;


            $('#tbodytable').empty();
            if (data && data.length > 0) {

                for (const item of data) {
                    i++;
                    let markup = `<tr>

	
                     <td><input hidden class="ProductName" readonly value="${item.ProductId}" />${item.ProductName}</td>
                     <td><input class="Qty form-control" readonly value="${item.Qty}" /></td>
                     <td><input class="rate form-control" readonly value="${item.rate}" /></td>
                     <td><input class="DisAmt form-control" readonly value="${item.DisAmt}" /></td>
                     <td><input class="Amount form-control" readonly value="${item.Amount}" />
                    <input type="hidden" class="form-control Id" readonly value="${item.Id}">

                    </td>
                    
                    <td><a class="btn_delete text-danger-600"><i class="icon-trash"></i></a></td>



			
                  </tr>`;

                    $('#tbodytable').append(markup);

                }


                debugger;
                CalculateTotalAmount();
                // console.log(data);
                ///   DropDown2Initializers();
                //    $('#Supcode').val(data[0].Supcode).change();

                //$('#Remarks').val(data[0].Remarks);
                //$('#ItemId').val(data[0].ItemId).change();
                //$('#Category').val(data[0].Category).change();
                //	$('#ReqDate').val(data[0].ReqDate);



                return;
            }
            ErrorAlert('No Record Found');
        })

    }



    function CalculateTotalAmount() {
        let TotalAmount = 0;
        $('.Amount').each(function () {
            TotalAmount += parseFloat($(this).val());
        })
        $('#TAmt').val(TotalAmount);
    }





    $('#tbodytable').delegate('.btn_delete', 'click', function () {
        const id = parseInt($(this).closest('tr').children().eq(4).find('.Id').val());

        GetJSONRequest('/Master/LevelDetails/DeleteLevelDetails', 'POST', { id }, function (data) {
            SuccessAlert("Data Saved");

            var classId = $('#classId').val();
            productDetail(classId);



        })


    })


    $('#ServicesId').change(function () {
        let Id = parseInt($('#ServicesId').val());

        //debugger;

        $('#SevicesId').val(Id)


        GetJSONRequest('/Master/ClinicServices/Master_ClinicServicesGetIdServices', 'GET', { Id }, data => {

            if (data && data.length > 0) {




                $('#Rate').val(data[0].Rate);



            }

            else {
                ErrorAlert("No Records Found");
            }





            /// $('#Comp_id').attr('disabled', 'true')

        })


    })






</script>