
@using ZCLINIC
@model ZCLINIC.Areas.URM.Models.USERAUTH

@{
    string URL = "/URM/USERAUTH/SaveCompany";
}

<form class="form-horizontal" method="post" id="" data-url="@URL" data-display="" data-rurl="/Master/Dashboard">
   
    @Html.HiddenFor(m => m.User_id)
    @Html.HiddenFor(m => m.AppId)
    @Html.HiddenFor(m => m.Role_ID)

    <div class="row">

        <div class="form-group form-group-xs">
            <label class="control-label col-sm-4">Company Name<b class="wysiwyg-color-red">*</b></label>
            <div class="form-group has-feedback col-sm-8">
                @{

                    //  int UserId = Model.User_id;

                    List<ZCLINIC.Areas.URM.Models.Company> Company = new ZCLINIC.Areas.URM.Models.Company().URM_CompanyGetListAll(Context.Session.GetBValues(), Context.GetIP(), Context.GetCInfo());

                }
                @Html.DropDownList("TenantId", Company.Select(s => new SelectListItem() { Text = s.CompanyName, Value = s.TenantId.ToString() }), new { @class = "form-control " })
                <div class="form-control-feedback"><i class=""></i></div>
            </div>

        </div>









        <div class="modal-footer no-padding no-border">
            <a data-url="/Master/Dashboard" data-script="#" class="btn btn-danger btn-xs  closeBtn" data-dismiss="modal"><i class="icon-cross"></i>Close</a>
          <button type="button" data-submit="" class="btn btn-primary btn-xs SaveBtn"><i class="icon-floppy-disk position-left"></i>Save</button>



        </div>

    </div>

</form>
<script>
   







    $('#TenantId').change(() => {


        debugger;
        if ($('#TenantId').val() != '') {




            var Id = $('#TenantId').val()



            debugger;


            GetJSONRequest('/URM/Company/URM_CompanyGetAppId', 'GET', { Id }, function (data) {

                if (data && data.length > 0) {



                    $('#AppId').val(data[0].AppId);
                  


                }
               



            })


        }

        else {
            ErrorAlert("Missing Value");




        }
        $('.SaveBtn').click(() => {

            $('.SaveBtn').attr('data-submit', true);

        
          


        })


     })
   
      // LoadPartial($.parseHTML($('.navigation li [data-display="' + _Menu + '"]').closest('li').html()));

</script>    