@model ZCLINIC.Areas.Master.Models.Student
@using ZCLINIC


<div class="col-lg-12">

    <div class="col-lg-6 ">

        <fieldset>
            <legend style="border-bottom:1px solid grey" class="text-bold">Contact Detail</legend>


            <div class="row">



                <div class="form-group form-group-xs col-md-12">




                    <div class="form-group form-group-xs col-md-12">
                        <label>Residential Address<b class="wysiwyg-color-red"></b></label>
                        @Html.TextBoxFor(m => m.RAdd, new { @class = "form-control", type = "text", required = "required" })

                    </div>



                </div>
            </div>


            <div class="row">



                <div class="form-group form-group-xs col-md-12">

                    <div class="form-group form-group-xs col-md-6">
                        <label>Mobile No<b class="wysiwyg-color-red"></b></label>
                        @Html.TextBoxFor(m => m.CellNo, new { @class = "form-control", type = "text", required = "required" })

                    </div>

                    <div class="form-group form-group-xs col-md-6">
                        <label>Phone  No<b class="wysiwyg-color-red"></b></label>
                        @Html.TextBoxFor(m => m.PhoneNo, new { @class = "form-control", type = "text", required = "required" })

                    </div>




                </div>
            </div>


        

        </fieldset>
    </div>


    <div class="col-lg-6">
        <fieldset>
            <legend style="border-bottom:1px solid grey" class="text-bold">Further Info</legend>
            <fieldset>


                <div class="row">



                    <div class="form-group form-group-xs col-md-12">

                        <div class="form-group form-group-xs col-md-12">
                            <label>Panel<b class="wysiwyg-color-red"></b></label>
                            @{
                                List<ZCLINIC.Areas.Master.Models.Panel> Panel = new ZCLINIC.Areas.Master.Models.Panel().Master_PanelGetAll(Context.Session.GetBValues(), Context.GetIP(), Context.GetCInfo());

                            }
                            @Html.DropDownList("PanelId", Panel.Select(s => new SelectListItem() { Text = s.PName, Value = s.PId.ToString() }), new { @class = "form-control " })

                        </div>




                    </div>
                </div>


                <div class="row">



                    <div class="form-group form-group-xs col-md-12">


                        <div class="form-group form-group-xs col-md-12">
                            <label>Level<b class="wysiwyg-color-red"></b></label>
                            @{
                                List<ZCLINIC.Areas.Master.Models.Levels> Levels = new ZCLINIC.Areas.Master.Models.Levels().Master_LevelsGetAll(Context.Session.GetBValues(), Context.GetIP(), Context.GetCInfo());

                            }
                            @Html.DropDownList("LevelId", Levels.Select(s => new SelectListItem() { Text = s.LevelName, Value = s.LId.ToString() }), new { @class = "form-control " })

                        </div>


                    </div>
                </div>




                <div class="row">



                    <div class="form-group form-group-xs col-md-12">

                        <div class="form-group form-group-xs col-md-12">
                            <label>Month Name<b class="wysiwyg-color-red"></b></label>

                            @{
                                List<ZCLINIC.Areas.Master.Models.AcadmicYear> AcadmicYear = new ZCLINIC.Areas.Master.Models.AcadmicYear().Master_AcadmicYearGetAll(Context.Session.GetBValues(), Context.GetIP(), Context.GetCInfo());

                            }
                            @Html.DropDownList("MonthId", AcadmicYear.Select(s => new SelectListItem() { Text = s.FeesTerm, Value = s.Id.ToString() }), new { @class = "form-control " })




                        </div>



                    </div>
                </div>


                <div class="row">



                    <div class="form-group form-group-xs col-md-12">

                        <div class="form-group form-group-xs col-md-6">
                            <label>Date Of Brith<b class="wysiwyg-color-red"></b></label>
                            @Html.TextBoxFor(m => m.DOBrith, new { @class = "form-control", type = "date", required = "required" })

                        </div>





                        <div class="form-group form-group-xs col-md-6">
                            <label>Admission Date<b class="wysiwyg-color-red"></b></label>
                            @Html.TextBoxFor(m => m.AdDate, new { @class = "form-control", type = "date", required = "required" })

                        </div>



                    </div>
                </div>


                <div class="row">



                    <div class="form-group form-group-xs col-md-12">








                        <div class="form-group form-group-xs col-md-6">
                            <label>Date Leaving <b class="wysiwyg-color-red"></b></label>
                            @Html.TextBoxFor(m => m.DateLeaving, new { @class = "form-control", type = "date", required = "required" })

                        </div>


                        <div class="form-group form-group-xs col-md-6">
                            <label>Status<b class="wysiwyg-color-red"></b></label>
                            @{

                                var Status = new List<(int Id, string Name)>();
                                Status.Add((Id: 0, Name: "Select StatUs"));
                                Status.Add((Id: 1, Name: "Present"));
                                Status.Add((Id: 2, Name: "Left"));



                            }
                            @Html.DropDownList("LeaveF", Status.Select(p => new SelectListItem() { Text = p.Name, Value = p.Id.ToString() }), new { @class = "form-control", data_style = "btn-default btn-xs", tabindex = '4', data_search = "true", data_width = "100%" })

                        </div>







                    </div>
                </div>



                <div class="row">



                    <div class="form-group form-group-xs col-md-12">






                        <div class="form-group form-group-xs col-md-6">
                            <label>Section<b class="wysiwyg-color-red"></b></label>
                            @{

                                var Sec = new List<(int Id, string Name)>();
                                Sec.Add((Id: 0, Name: "Select Section"));
                                Sec.Add((Id: 1, Name: "A"));
                                Sec.Add((Id: 2, Name: "B"));
                                Sec.Add((Id: 3, Name: "C"));
                                Sec.Add((Id: 4, Name: "D"));


                            }
                            @Html.DropDownList("Sec", Sec.Select(p => new SelectListItem() { Text = p.Name, Value = p.Name.ToString() }), new { @class = "form-control", data_style = "btn-default btn-xs", tabindex = '4', data_search = "true", data_width = "100%" })

                        </div>



                        <div class="form-group form-group-xs col-md-6">
                            <label>Roll No<b class="wysiwyg-color-red"></b></label>
                            @Html.TextBoxFor(m => m.RollNo, new { @class = "form-control", type = "text", required = "required" })

                        </div>








                    </div>
                </div>




                @*<div class="form-group form-group-xs">
            <label class="control-label col-sm-2 text-right"><b class="wysiwyg-color-red"></b></label>
            <div class="form-group has-feedback col-sm-10">
                @Html.TextBoxFor(m => m.CPDAddress.PAddress2, new { @class = "form-control input-group", type = "text" })


                <div class="form-control-feedback"><i class=""></i></div>
            </div>
        </div>*@
            </fieldset>



        </fieldset>



    </div>
</div>
