

@using ZCLINIC
@model ZCLINIC.Areas.Master.Models.Seats

@{
    string URL = Model == null ? "/Master/Seats/SaveSeats" : "/Master/Seats/UpdateSeats";
}

<form class="form-horizontal" method="post" id="" data-url="@URL" data-display="Master" data-rurl="/Master/Seats">

    @Html.HiddenFor(m => m.SId)

    <div class="row">

        <div class="form-group form-group-xs">
            <label class="control-label col-sm-4">Product Id</label>
            <div class="form-group has-feedback col-sm-4">
                @Html.TextBoxFor(m => m.Scode, new { @class = "form-control input-group", type = "text" })
                <div class="form-control-feedback"><i class=""></i></div>
            </div>
        </div>

        <div class="form-group form-group-xs">
            <label class="control-label col-sm-4">Seats Name <b class="wysiwyg-color-red">*</b></label>
            <div class="form-group has-feedback col-sm-8">
                @Html.TextBoxFor(m => m.SeatName, new { @class = "form-control input-group", placeholder = "Seat Name", type = "text", required = "required" })
                <div class="form-control-feedback"><i class=""></i></div>
            </div>
        </div>


        <div class="form-group form-group-xs">
            <label class="control-label col-sm-4">Level  Name <b class="wysiwyg-color-red">*</b></label>
            <div class="form-group has-feedback col-sm-8">
                @{
                    List<ZCLINIC.Areas.Master.Models.Levels> Levels = new ZCLINIC.Areas.Master.Models.Levels().Master_LevelsGetAll(Context.Session.GetBValues(), Context.GetIP(), Context.GetCInfo());

                }
                @Html.DropDownList("LevelId", Levels.Select(s => new SelectListItem() { Text = s.LevelName, Value = s.LId.ToString() }), new { @class = "form-control " })
                <div class="form-control-feedback"><i class=""></i></div>
            </div>
        </div>


       

        <div class="modal-footer no-padding no-border">
            <button type="button" class="btn btn-danger btn-xs" data-dismiss="modal"><i class="icon-cross"></i>Close</button>
            <button type="button" data-submit="true" class="btn btn-primary btn-xs"><i class="icon-floppy-disk position-left"></i>Save</button>
        </div>

    </div>

</form>


