

@using ZCLINIC
@model ZCLINIC.Areas.Master.Models.AcadmicYear

@{
    string URL = Model == null ? "/Master/AcadmicYear/SaveAcadmicYear" : "/Master/AcadmicYear/UpdateAcadmicYear";
}

<form class="form-horizontal" method="post" id="" data-url="@URL" data-display="Master" data-rurl="/Master/AcadmicYear">

    @Html.HiddenFor(m => m.Id)

    <div class="row">


        <div class="form-group form-group-xs">
            <label class="control-label col-sm-4">Fees Term<b class="wysiwyg-color-red">*</b></label>
            <div class="form-group has-feedback col-sm-8">
                @Html.TextBoxFor(m => m.FeesTerm, new { @class = "form-control input-group", placeholder = "Fees Term", type = "text", required = "required" })
                <div class="form-control-feedback"><i class=""></i></div>
            </div>
        </div>

         <div class="form-group form-group-xs">
             <label class="control-label col-sm-4">No Month<b class="wysiwyg-color-red">*</b></label>
            <div class="form-group has-feedback col-sm-8">
                @Html.TextBoxFor(m => m.NoMouth, new { @class = "form-control input-group", placeholder = "No Mouth", type = "text", required = "required" })
                <div class="form-control-feedback"><i class=""></i></div>
            </div>
        </div>

         <div class="form-group form-group-xs">
            <label class="control-label col-sm-4">Fiscal  Year<b class="wysiwyg-color-red">*</b></label>
            <div class="form-group has-feedback col-sm-8">
                @{
                    List<ZCLINIC.Areas.Master.Models.Fiscal> Fiscal = new ZCLINIC.Areas.Master.Models.Fiscal().Master_FiscalGetAll(Context.Session.GetBValues(), Context.GetIP(), Context.GetCInfo());

                }
                @Html.DropDownList("FisYearId", Fiscal.Select(s => new SelectListItem() { Text = s.FName, Value = s.FId.ToString() }), new { @class = "form-control " })
                <div class="form-control-feedback"><i class=""></i></div>
            </div>
        </div>
























        <div class="modal-footer no-padding no-border">
            <button type="button" class="btn btn-danger btn-xs" data-dismiss="modal"><i class="icon-cross"></i>Close</button>
            <button type="button" data-submit="true" class="btn btn-primary btn-xs"><i class="icon-floppy-disk position-left"></i>Save</button>
        </div>

    </div>

</form>

