@using ZCLINIC
@model ZCLINIC.Areas.Transaction.Models.FeeVoucher

@{
    string URL = Model == null ? "/Transaction/FeeVoucher/SaveFeeVoucher" : "/Transaction/FeeVoucher/UpdateFeeVoucher";
    int counter = 0;
}

<style>
    /*Remove Arrows/Spinners from type number*/
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }
</style>

<div class="page-header page-header-default">
    <div class="breadcrumb-line">
        <h6 class="text-semibold">Monthly Fee Voucher</h6>
    </div>
</div>

<div class="content">
    <div class="panel panel-flat">
        <div class="panel-body">


            <form method="post" data-url="@URL" data-rurl="/Transaction/FeeVoucher/SemIndex" data-display="FeeVoucher">



                @Html.HiddenFor(m => m.FeeId)
                <div class="row">



                    <div class="form-group form-group-xs col-md-12">

                        <div class="form-group form-group-xs col-md-2">
                            <label>Voucher No<b class="wysiwyg-color-red"></b></label>
                            @Html.TextBoxFor(m => m.FeeId, new { @class = "form-control", type = "text", @readonly = "readonly" })

                        </div>

                        <div class="form-group form-group-xs col-md-2">
                            <label>Voucher Date<b class="wysiwyg-color-red"></b></label>
                            @Html.TextBoxFor(m => m.VouDate, new { @class = "form-control", type = "date"})

                        </div>


                        <div class="form-group form-group-xs col-md-4">
                            <label>Month Name<b class="wysiwyg-color-red"></b></label>
                            @{
                                List<ZCLINIC.Areas.Master.Models.AcadmicYear> AcadmicYear = new ZCLINIC.Areas.Master.Models.AcadmicYear().Master_AcadmicYearGetAll(Context.Session.GetBValues(), Context.GetIP(), Context.GetCInfo());
                                AcadmicYear.Insert(0, new ZCLINIC.Areas.Master.Models.AcadmicYear { Id = 0, FeesTerm = "Select Month  Name" });
                            }
                            @Html.DropDownList("MonthId", AcadmicYear.Select(s => new SelectListItem() { Text = s.FeesTerm, Value = s.Id.ToString() }), new { @class = "form-control " })

                        </div>
                        <div class="form-group form-group-xs col-md-4">
                            <label>Level Name<b class="wysiwyg-color-red"></b></label>
                            @{
                                List<ZCLINIC.Areas.Master.Models.Levels> Levels = new ZCLINIC.Areas.Master.Models.Levels().Master_LevelsGetAll(Context.Session.GetBValues(), Context.GetIP(), Context.GetCInfo());
                                Levels.Insert(0, new ZCLINIC.Areas.Master.Models.Levels { LId = 0, LevelName = "Select Level  Name" });
                            }
                            @Html.DropDownList("LevelId", Levels.Select(s => new SelectListItem() { Text = s.LevelName, Value = s.LId.ToString() }), new { @class = "form-control " })

                        </div>







                    </div>
                </div>

                <div class="row">



                    <div class="form-group form-group-xs col-md-12">

                        <div class="form-group form-group-xs col-md-3">
                            <label>Student Name<b class="wysiwyg-color-red"></b></label>
                            <select class="form-control combo-box" id="StudentN" type=2 name="ModelId"></select>

                        </div>


                        <div class="form-group form-group-xs col-md-3">
                            <label>Semester Month<b class="wysiwyg-color-red"></b></label>
                            @{
                                List<ZCLINIC.Areas.Master.Models.Semester> Semester = new ZCLINIC.Areas.Master.Models.Semester().Master_SemesterGetAll(Context.Session.GetBValues(), Context.GetIP(), Context.GetCInfo());
                                Semester.Insert(0, new ZCLINIC.Areas.Master.Models.Semester { Id = 0, SName = "Select Semerter  Name" });
                            }
                            @Html.DropDownList("LeaveF", Semester.Select(s => new SelectListItem() { Text = s.SName, Value = s.Id.ToString() }), new { @class = "form-control " })


                        </div>

                        <div class="form-group form-group-xs col-md-2">
                            <label>Due Date<b class="wysiwyg-color-red"></b></label>
                            @Html.TextBoxFor(m => m.DueDate, new { @class = "form-control", type = "date" })

                        </div>

                        <div class="form-group form-group-xs col-md-2">
                            <label>RefId<b class="wysiwyg-color-red"></b></label>
                            @Html.TextBoxFor(m => m.RefId, new { @class = "form-control", type = "text", @readonly = "readonly" })

                        </div>






                        <div class="form-group form-group-xs mt-20 col-md-1">
                            <a class="btn btn-info btn-sm" id="AddItemBtn" data-script="#"><i class="icon-add mr-5"></i>Add</a>
                        </div>




                    </div>
                </div>

                <div class="row">



                    <div class="form-group form-group-xs col-md-12">

                        <div class="form-group form-group-xs col-md-4">
                            <label>Account Name<b class="wysiwyg-color-red"></b></label>
                            @{
                                List<ZCLINIC.Areas.Master.Models.Master_SubAccount> SubAcc = new ZCLINIC.Areas.Master.Models.Master_SubAccount().Master_SubAccountGetBankMaster(Context.Session.GetBValues(), Context.GetIP(), Context.GetCInfo());
                                SubAcc.Insert(0, new ZCLINIC.Areas.Master.Models.Master_SubAccount { Com_id = 0, Subacc_Name = "Select Bank  Name" });
                            }
                            @Html.DropDownList("BankId", SubAcc.Select(s => new SelectListItem() { Text = s.Subacc_Name, Value = s.Com_id.ToString() }), new { @class = "form-control " })

                        </div>





                        <div class="form-group form-group-xs col-md-2">
                            <label>Penalty Amount<b class="wysiwyg-color-red"></b></label>
                            @Html.TextBoxFor(m => m.penaltyAmt, new { @class = "form-control", type = "text" })

                        </div>










                    </div>

















                </div>


                <div class="clearfix"></div>


                <div class="panel-body form-group panel panel-flat mt-5" style="height:322px; width:100%; overflow-y:auto;" id="table-div">


                    <div class="table-responsive container-fluid quotaiontable">
                        <table class="table table-xxs table-md table-bordered table-striped table-hover bg-lightgray dataTables_scrollBody">




                            <thead>
                                <tr class="bg-blue-800">

                                    <th class="col-lg-3">Student</th>

                                    <th class="col-lg-1">GrNO</th>
                                    <th class="col-lg-2">SeatsNo</th>
                                    <th class="col-lg-1">Adm.Amt</th>
                                    <th class="col-lg-1">Ann.Amt</th>
                                    <th class="col-lg-1">TuitionFee</th>
                                    <th class="col-lg-1">EnrollFee</th>
                                    <th class="col-lg-1">ExamFee</th>
                                    <th class="col-lg-1">MisFee</th>
                                    <th class="col-lg-1">PenaltyFee</th>





                                    <th class="col-lg-1">Discount</th>

                                    <th class="col-lg-1">TotalAmt</th>
                                    <th class="col-lg-1">ChNo</th>

                                    <th class="col-lg-1">Actions</th>



                                </tr>

                                @*<tr>





                                        <th class="col-md-5">


                                            <select class="form-control combo-box" id="SubAccountId" type=2 name="ModelId"></select>





                                        </th>


                                        <th class="col-lg-1"><a class="icon-add text-primary" id="AddItemBtn"></a></th>
                                    </tr>*@


                            </thead>


                            <tbody class="VoucherDetail">
                                @*@if (Model != null)
                                    {
                                        foreach (var item in Model.FeeVoucherDetail)
                                        {
                                            counter++;


                                            <tr>






                                                <td><input type="text" class="form-control Remarksfield" value="@item.GRId"></td>

                                                <td><input type="text" class="form-control Debitfield" value="@item.GrNo"></td>
                                                <td><input type="text" class="form-control Creditfield" value="@item.MontlyAmt"></td>


                                                <td><a id=""><i class="icon-trash removeitem text-danger-600"></i></a></td>
                                            </tr>
                                        }
                                    }*@

                            </tbody>










                            <tfoot>
                                <tr>

                                    <td colspan="2"></td>
                                    <td class="text-right">Total Amount</td>
                                    <td>@Html.TextBoxFor(m => m.AdAmt, new { @class = "form-control", type = "number", @readonly = "readonly" })</td>



                                    <td>@Html.TextBoxFor(m => m.AnnAmt, new { @class = "form-control", type = "number", @readonly = "readonly" })</td>
                                    <td>@Html.TextBoxFor(m => m.MontlyAmt, new { @class = "form-control", type = "number", @readonly = "readonly" })</td>
                                    <td>@Html.TextBoxFor(m => m.EnrollAmt, new { @class = "form-control", type = "number", @readonly = "readonly" })</td>
                                    <td>@Html.TextBoxFor(m => m.ExamAmt, new { @class = "form-control", type = "number", @readonly = "readonly" })</td>
                                    <td>@Html.TextBoxFor(m => m.MisAmt, new { @class = "form-control", type = "number", @readonly = "readonly" })</td>
                                    <td>@Html.TextBoxFor(m => m.PenaltySAmt, new { @class = "form-control", type = "number", @readonly = "readonly" })</td>










                                    <td>@Html.TextBoxFor(m => m.MDisAmt, new { @class = "form-control", type = "number", @readonly = "readonly" })</td>

                                    <td>@Html.TextBoxFor(m => m.TAmount, new { @class = "form-control", type = "number", @readonly = "readonly" })</td>



                                </tr>

                            </tfoot>
















                        </table>




                    </div>


                </div>

















                <div class="modal-footer mt-10 no-padding no-border">




                    <a data-url="/Transaction/FeeVoucher/SemIndex" data-script="#" class="btn btn-danger btn-xs  closeBtn" data-dismiss="modal"><i class="icon-cross"></i>Close</a>




                    <button type="button" data-submit="" class="btn btn-primary  btn-xs  SaveBtn"><i class="icon-floppy-disk position-left"></i>Save</button>
                    @* <button type="button" data-submit="" class="btn btn-primary btn-xs SaveBtn"><i class="icon-floppy-disk position-left"></i>Save</button>*@

                </div>

            </form>
        </div>
    </div>
</div>