
@using ZCLINIC
@model ZCLINIC.Areas.Master.Models.Master_SubAccount

@{
    string URL = Model == null ? "/Master/Master_SubAccount/SaveMaster_SubAccount" : "/Master/Master_SubAccount/UpdateMaster_SubAccount";
}

<form class="form-horizontal" method="post" id="" data-url="@URL" data-display="Master" data-rurl="/Master/Master_SubAccount">

    @Html.HiddenFor(m => m.Com_id)

    <div class="row">

        <div class="form-group form-group-xs">
            <label class="control-label col-sm-4">Sub Account Code<b class="wysiwyg-color-red">*</b></label>
            <div class="form-group has-feedback col-sm-8">
                @Html.TextBoxFor(m => m.Sub_accountCode, new  { @class = "form-control input-group", @readonly = "readonly", placeholder = "Sub Account Code", type = "text" })
                <div class="form-control-feedback"><i class=""></i></div>
            </div>
        </div>

        <div class="form-group form-group-xs">
            <label class="control-label col-sm-4">Account Name <b class="wysiwyg-color-red">*</b></label>
            <div class="form-group has-feedback col-sm-8">
                @Html.TextBoxFor(m => m.Subacc_Name, new { @class = "form-control input-group", style = "text-transform:uppercase", placeholder = "Enter Account Name ", type = "text", required = "required" })
                <div class="form-control-feedback"><i class=""></i></div>
            </div>
        </div>

        <div class="form-group form-group-xs">
            <label class="control-label col-sm-4">Master Account<b class="wysiwyg-color-red">*</b></label>
            <div class="form-group has-feedback col-sm-8">
                @{
                    List<ZCLINIC.Areas.Master.Models.MasterAccount> cities = new ZCLINIC.Areas.Master.Models.MasterAccount().Master_MasterAccountGetAll(Context.Session.GetBValues(), Context.GetIP(), Context.GetCInfo());

                }
                @Html.DropDownList("Master_ID", cities.Select(s => new SelectListItem() { Text = s.Master_Name, Value = s.Master_Code.ToString() }), new { @class = "form-control " })
                <div class="form-control-feedback"><i class=""></i></div>
            </div>

        </div>

        <div class="form-group form-group-xs">
            <label class="control-label col-sm-4">Opening Amount<b class="wysiwyg-color-red">*</b></label>
            <div class="form-group has-feedback col-sm-8">
                @Html.TextBoxFor(m => m.opening_Bal, new { @class = "form-control input-group", placeholder = "Opening Amount", type = "number", required = "required" })
                <div class="form-control-feedback"><i class=""></i></div>
            </div>
        </div>



        <div class="form-group form-group-xs">
            <label class="control-label col-sm-4">Address <b class="wysiwyg-color-red">*</b></label>
            <div class="form-group has-feedback col-sm-8">
                @Html.TextBoxFor(m => m.Address, new { @class = "form-control input-group", placeholder = "Address", type = "text", required = "required" })
                <div class="form-control-feedback"><i class=""></i></div>
            </div>
        </div>


        <div class="form-group form-group-xs">
            <label class="control-label col-sm-4">Contact No<b class="wysiwyg-color-red">*</b></label>
            <div class="form-group has-feedback col-sm-8">
                @Html.TextBoxFor(m => m.ContactNo, new { @class = "form-control input-group", placeholder = "Enter ContactNo", type = "text", required = "required" })
                <div class="form-control-feedback"><i class=""></i></div>
            </div>
        </div>
        <div class="form-group form-group-xs">
            <label class="control-label col-sm-4">NTN No <b class="wysiwyg-color-red">*</b></label>
            <div class="form-group has-feedback col-sm-8">
                @Html.TextBoxFor(m => m.ntnNo, new { @class = "form-control input-group", placeholder = "Enter NTNNo", type = "text", required = "required" })
                <div class="form-control-feedback"><i class=""></i></div>
            </div>
        </div>


        <div class="form-group form-group-xs">
            <label class="control-label col-sm-4">STRNo<b class="wysiwyg-color-red">*</b></label>
            <div class="form-group has-feedback col-sm-8">
                @Html.TextBoxFor(m => m.STRNO, new { @class = "form-control input-group", placeholder = "Enter STRNo ", type = "text", required = "required" })
                <div class="form-control-feedback"><i class=""></i></div>
            </div>
        </div>

         <div class="form-group form-group-xs">
            <label class="control-label col-sm-4">Title Account<b class="wysiwyg-color-red">*</b></label>
            <div class="form-group has-feedback col-sm-8">
                @Html.TextBoxFor(m => m.AccT, new { @class = "form-control input-group", placeholder = "Title Account", type = "text"})
                <div class="form-control-feedback"><i class=""></i></div>
            </div>
        </div>










        <div class="modal-footer no-padding no-border">
            <button type="button" class="btn btn-danger btn-xs" data-dismiss="modal"><i class="icon-cross"></i>Close</button>
            <button type="button" data-submit="true" class="btn btn-primary btn-xs"><i class="icon-floppy-disk position-left"></i>Save</button>
        </div>

    </div>

</form>
