

@using ZCLINIC
@model ZCLINIC.Areas.Master.Models.LevelDetails

@{
    string URL = Model == null ? "/Master/LevelDetails/SaveLevelDetails" : "/Master/LevelDetails/UpdateLevelDetails";

    List<ZCLINIC.Areas.Master.Models.Product> Product = new ZCLINIC.Areas.Master.Models.Product().Master_ProductGetAll(Context.Session.GetBValues(), Context.GetIP(), Context.GetCInfo());


}

<form class="form-horizontal" method="post" id="" data-url="@URL" data-display="Master" data-rurl="/Master/Master_Deparment">

    @Html.HiddenFor(m => m.Id)

    <div class="row">

        <div class="form-group form-group-xs">
            <label class="control-label col-sm-4">LevelId<b class="wysiwyg-color-red">*</b></label>
            <div class="form-group has-feedback col-sm-4">
                @Html.TextBoxFor(m => m.classId, new { @class = "form-control input-group", type = "text", @readonly = "readonly" })
                <div class="form-control-feedback"><i class=""></i></div>
            </div>
        </div>

        <div class="form-group form-group-xs">
            <label class="control-label col-sm-4">Level Name <b class="wysiwyg-color-red">*</b></label>
            <div class="form-group has-feedback col-sm-8">
                @Html.TextBoxFor(m => m.Classname, new { @class = "form-control input-group", placeholder = "Supplier Name", type = "text", required = "required",@readonly = "readonly" })
                <div class="form-control-feedback"><i class=""></i></div>
            </div>
        </div>


        @*@{
            List<ZCLINIC.Areas.Master.Models.Master_UnitRegistration> Master_UnitRegistration = new ZCLINIC.Areas.Master.Models.Master_UnitRegistration().Master_UnitRegistrationGetAll(Context.Session.GetBValues(), Context.GetIP(), Context.GetCInfo());
            Master_UnitRegistration.Insert(0, new ZCLINIC.Areas.Master.Models.Master_UnitRegistration { UnitId = 0, UnitName = "Select Unit  Name" });
        }*@


      


            <div class="table-responsive container-fluid quotaiontable">
                <table class="table table-xxs table-md table-bordered table-striped table-hover bg-lightgray dataTables_scrollBody">




                    <thead>
                        <tr class="bg-blue-800">

                            <th class="col-lg-3">Product Name</th>
                            <th class="col-lg-1">Qty</th>
                            <th class="col-lg-1">Rate</th>

                            <th class="col-lg-1">DisAmt</th>
                            <th class="col-lg-1">TotalAmt</th>


                            <th class="col-lg-1">Actions</th>



                        </tr>

                        <tr>
                            <th class="col-lg-4">
                                <select id="ProductName" class="form-control bootstrap-select" data-style="btn-default btn-xs" data-search="true" data-width="100%">
                                    <option value="0">--Select Product--</option>
                                    @foreach (var item in Product)
                                    {
                                        <option value="@item.ProductId">@item.ProductName</option>
                                    }
                                </select>

                            </th>





                            <th><input class="form-control" id="Qty" type="number" /></th>

                            <th><input class="form-control" id="Rate" type="number" /></th>


                            <th><input class="form-control" id="DisAmt" type="number" /></th>


                            <th><input class="form-control" id="TotalAmt" type="number" readonly /></th>










                            @*<th class="col-lg-4">
            <select id="StoreName" class="form-control bootstrap-select" data-style="btn-default btn-xs" data-search="true" data-width="100%">
                <option value="0">--Select Store--</option>
                @foreach (var item in store)
                {
                    <option value="@item.storeId">@item.Storename</option>
                }
            </select>

        </th>*@




                            <td>

                                <a id="btn_add" class="text-primary-600"><i class="icon-add"></i></a>

                            </td>

                        </tr>


                    </thead>


                    <tbody id="tbodytable">
                       

                    </tbody>










                    <tfoot>
                        <tr>

                            <td colspan="3"></td>
                            <td class="text-right">Total Amount</td>

                            <td>@Html.TextBoxFor(m => m.TAmt, new { @class = "form-control", type = "number", @readonly = "readonly" })</td>



                        </tr>

                    </tfoot>
















                </table>




            </div>


        













        @*<div class="modal-footer no-padding no-border">
            <button type="button" class="btn btn-danger btn-xs" data-dismiss="modal"><i class="icon-cross"></i>Close</button>
            <button type="button" data-submit="true" class="btn btn-primary btn-xs"><i class="icon-floppy-disk position-left"></i>Save</button>
        </div>*@

    </div>

</form>
<script>



    var classId = $('#classId').val();
    productDetail(classId);




    $('#btn_add').on('click', function () {

        var ProductName = $('#ProductName').val();
        var Qty = $('#Qty').val();
        var Rate = $('#Rate').val();
        var DisAmt = $('#DisAmt').val();
        var TotalAmt = $('#TotalAmt').val();

        //var Session_ID = $('#Session_ID').val();


        var check = false;






        if (ProductName == 0 || ProductName == null) {
            ErrorAlert("Enter Product  Name");
            check = true;
        }

        if (Qty ==  null) {
            ErrorAlert("Enter Qty  Name");
            check = true;
        }

        if (Rate == null) {
            ErrorAlert("Enter Rate  Name");
            check = true;
        }

        if (DisAmt == null) {
            ErrorAlert("Enter DisAmt  Name");
            check = true;
        }

        if (TotalAmt == null) {
            ErrorAlert("Enter TotalAmt  Name");
            check = true;
        }

       





        if (!check) {


            // GetSchoolFee(Supcode, MonthID, Session_ID);












            var model = []



            model = {
                classId: $('#classId').val(),
                Id: "0",
                Product: parseInt($('#ProductName option:selected').val()),
                Qty: $('#Qty').val(),
                rate: $('#Rate').val(),
                DisAmt: $('#DisAmt').val(),
                Amount: $('#TotalAmt').val()
             
               







            }


            





            console.log(model);
            ///console.log(PurchaseDetail);











          

                debugger;
            GetJSONRequest('/Master/LevelDetails/SaveLevelDetails', 'POST', { model}, function (data) {
                    SuccessAlert("Data Saved");
                var classId = $('#classId').val();
                productDetail(classId);


          $('#ProductName').val('');
          $('#Qty').val('');
          $('#Rate').val('');
                $('#DisAmt').val('');
                $('#TotalAmt').val('');



                });
         
          
            }




        








    });

    $('#Rate,#Qty,#DisAmt').change(function () {


        var Rate = $('#Rate').val() || 0;
        var Qty = $('#Qty').val() || 0;
       
        var DisAmt = $('#DisAmt').val() || 0;


        //  var Qty = $('#Qty').val() || 0;


      




     
        var TAmt = 0;
     



        TAmt = Rate * Qty;

        Total_Amt = TAmt  - DisAmt;
        debugger;

        // $('#Rate').val(TAmt.toFixed(2));
        $('#TotalAmt').val(Total_Amt.toFixed(2));
        









        // $('#TotalAmount').val(parseInt($(this).val()) * parseInt(Price));
    })


    function productDetail(id) {



        GetJSONRequest('/Master/LevelDetails/GetProductList', 'GET', { id }, data => {


            debugger;
            let i = 0;


            $('#tbodytable').empty();
            if (data && data.length > 0) {
                
                for (const item of data) {
                    i++;
                    let markup = `<tr>

	
                     <td><input hidden class="ProductName" readonly value="${item.ProductId}" />${item.ProductName}</td>
                     <td><input class="Qty form-control" readonly value="${item.Qty}" /></td>
                     <td><input class="rate form-control" readonly value="${item.rate}" /></td>
                     <td><input class="DisAmt form-control" readonly value="${item.DisAmt}" /></td>
                     <td><input class="Amount form-control" readonly value="${item.Amount}" />
                    <input type="hidden" class="form-control Id" readonly value="${item.Id}">

                    </td>
                    
                    <td><a class="btn_delete text-danger-600"><i class="icon-trash"></i></a></td>



			
                  </tr>`;

                    $('#tbodytable').append(markup);

                }


                debugger;
                CalculateTotalAmount();
                // console.log(data);
                ///   DropDown2Initializers();
                //    $('#Supcode').val(data[0].Supcode).change();

                //$('#Remarks').val(data[0].Remarks);
                //$('#ItemId').val(data[0].ItemId).change();
                //$('#Category').val(data[0].Category).change();
                //	$('#ReqDate').val(data[0].ReqDate);



                return;
            }
            ErrorAlert('No Record Found');
        })

    }



    function CalculateTotalAmount() {
        let TotalAmount = 0;
        $('.Amount').each(function () {
            TotalAmount += parseFloat($(this).val());
        })
        $('#TAmt').val(TotalAmount);
    }





    $('#tbodytable').delegate('.btn_delete', 'click', function () {
        const id = parseInt($(this).closest('tr').children().eq(4).find('.Id').val());
       
        GetJSONRequest('/Master/LevelDetails/DeleteLevelDetails', 'POST', { id }, function (data) {
            SuccessAlert("Data Saved");

            var classId = $('#classId').val();
            productDetail(classId);



        })

       
    })











</script>